.our-clients-title {
    font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-color);

margin-bottom: 50px;
}

.our-clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients-icon {
    fill:#AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-link {
    display: flex;
    justify-content: center;
    align-items:center;

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.our-clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.our-clients-list-link:hover,
.our-clients-list-link:focus {
    border-color: var(--accent-color);
}

.our-clients-list-link:hover .our-clients-icon,
.our-clients-list-link:focus .our-clients-icon {
    fill:var(--accent-color);
}