.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: #2196F3;
}

.logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}


.logo-2-theme-light {
    color:#212121;
}

.logo-2-theme-dark {
color:#FFFFFF;
}